html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
#app,
svg {
  width: 100vw;
  height: 100vh;
  display: block;
}

.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  fill: #000;
  stroke: none;
  stroke-width: 1.5px;
}

.node.red {
  fill: #d00;
}

.node text,
.node.red text {
  font-size: 23px;
  fill: white;
  font-weight: bold;
  pointer-events: none;
}

.node.hover {
  fill: #222;
  stroke: white;
}
.node.hover text {
  stroke: none;
}

.node.red.hover {
  fill: #f00;
  stroke: white;
}
