html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
#app,
svg {
  width: 100vw;
  height: 100vh;
  display: block;
}
.link {
  stroke: #aaa;
}
.node {
  fill: steelblue;
}
.node.fixed {
  fill: orange;
}

.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  fill: #000;
  stroke: none;
  stroke-width: 1.5px;
}

.node.fixed {
  fill: #f00;
}

.node text {
  font-size: 23px;
  fill: white;
  font-weight: bold;
  pointer-events: none;
}
